<h1>{{title}}</h1>
<p>
	{{> twitter}}
</p>

<div class="row-fluid">
	<div class="span6">
		Beer
	</div>
	<div class="span2">
		Style
	</div>
	<div class="span1">
		<acronym title="Alcohol By Volume">ABV</acronym>
	</div>
	<div class="span1">
		<acronym title="International Bittering Units">IBU</acronym>
	</div>
</div>

{{#each keg}}
	<div class="row-fluid">
		<div class="span12">
			{{> pintGlass}}
			<strong>
				{{name}}
				({{brewery}})
			</strong>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6"></div>
		<div class="span2">
			{{style}}
		</div>
		<div class="span1">
			{{#if abv}}
				{{abv}}%
			{{/if}}
		</div>
		<div class="span1">
			<div>
				{{ibu}}
			</div>
		</div>
	</div>
{{/each}}
